.header {
  height: 60px;
  padding-left: var(--mantine-spacing-md);
  padding-right: var(--mantine-spacing-md);
  border-bottom: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.link {
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: var(--mantine-spacing-md);
  padding-right: var(--mantine-spacing-md);
  text-decoration: none;
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  font-weight: 500;
  font-size: var(--mantine-font-size-sm);

  @media (max-width: $mantine-breakpoint-sm) {
    height: 42px;
    width: 100%;
  }

  @mixin hover {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
  }
}

.subLink {
  width: 100%;
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
  border-radius: var(--mantine-radius-md);

  @mixin hover {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-7));
  }
}

.dropdownFooter {
  background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-7));
  margin: calc(var(--mantine-spacing-md) * -1);
  margin-top: var(--mantine-spacing-sm);
  padding: var(--mantine-spacing-md) calc(var(--mantine-spacing-md) * 2);
  padding-bottom: var(--mantine-spacing-xl);
  border-top: 1px solid light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-5));
}

.title {
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: var(--mantine-spacing-xs);
  /* Replace with your spacing value */
  font-family: "Greycliff CF", var(--mantine-font-family);
  /* Replace with your font-family variable */
  color: var(--mantine-color-text);
  /* Replace with your theme-specific color variable */
}

.highlight {
  color: var(--highlight-color);
  /* Dynamic color to be set inline */
}

.description {
  text-align: center;

  @media (max-width: 520px) {
    text-align: left;
    font-size: var(--mantine-font-size-md);
    /* Replace with the actual font size value */
  }
}

.HeroButtons {
  margin-top: 1vh;
  margin-left: 1vw;

  @media (max-width: 520px) {
    margin-top: 1vh;
  }
}

.HeroButtonDiv {
  display: flex;
  justify-content: center;

  @media (max-width: 520px) {
    flex-direction: column;
  }
}

.CardDivider {

  width: 65px;
  margin-top: 10px;
  margin-bottom: 10px;

  @media (max-width: 520px) {
    width: 30px;
  }
}
